<div class="row card-group">
  <div class="col-3"  *ngFor="let movie of allMovies">
    <div class="card blackcard" routerLink= {{movie.id}}>
      <img class="card-img-top" src="{{ movie.fullImagePath}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-decoration: underline">{{ movie?.title }}</h5>
        <p class="card-text"><b>TMDB Average Rating:</b> {{ movie?.voteAverage }}</p>
        <p class="card-text" style="color: #53a1ba!important" *ngIf="movie.userRating !== undefined">
          <b>{{ currentUser?.name.split(' ')[0] }}'s Rating: {{ movie?.userRating }}</b>
        </p>
      </div>
    </div>
  </div>
</div>
