<div class="row card-group">
  <div class="col-3"  *ngFor="let movie of allMovies">
    <div class="card blackcard">
      <img class="card-img-top" src="{{ this.imagePath + movie.posterPath}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ movie?.title }}</h5>
        <p class="card-text">Released: {{ movie?.releaseDate }}</p>
        <p class="card-text">Rating: {{ movie.voteAverage }}</p>
        <a routerLink= {{movie.id}} class="btn btn-danger">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
