/* You can add global styles to this file, and also import other style files */

.blackcard {
  background-color: black !important;
}

h1, h2, h3, h4, h5, p{
  color: #cdad00 !important;
}

body, table {
  margin-top: 20px !important;
  color: #cdad00 !important;
}
