<div class="row">
  <div class="col-4">
      <img [src]="posterPath" width="300px" alt="Poster image">
      <img [src]="backdropPath" width="300px" alt="Backdrop image" style="padding-top: 10px">
  </div>
  <div class="col-8">
    <a routerLink="'/movies'">
      <span class="badge badge-dark" style="margin-bottom: 10px"><<<</span>
    </a>
    <h1>{{ movieDetail?.title}}</h1>
    <p style="color: darkgoldenrod !important"><b>Release date:</b> {{ movieDetail?.releaseDate}}</p>
    <p style="color: #F6D406 !important"><b>TMDB Average rating:</b> {{ movieDetail?.voteAverage }} / 10</p>
    <p>{{ movieDetail?.overview }}</p>
    <table class="table table-dark" *ngIf="userRatings.length > 0">
      <thead>
      <th>Comment</th>
      <th>Rating</th>
      <th>Created</th>
      <th></th>
      </thead>
      <tbody>
      <tr *ngFor="let rating of userRatings">
        <td>{{ rating?.comment }}</td>
        <td>{{ rating?.rating }} / 10</td>
        <td>{{ rating?.createdTimeStamp }}</td>
        <td align="right"><button class="btn btn-sm" style="background-color: #cdad00" (click)="deleteRating(rating)">X</button></td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="userRatings.length < 1" style="padding-top: 20px">
      <h3>Add Rating</h3>
      <form #ratingForm="ngForm" >
        <div class="form-row align-items-md-center">
          <div class="col-auto">
            <label for="rating">Rating:</label>
            <select id="rating" class="form-control mb-2" name="rating" [(ngModel)]="newRating.rating">
              <option disabled hidden [value]="selectUndefinedOptionValue">Select</option>
              <option *ngFor="let i of ratingRange" [value]="i"> {{ i }}</option>
            </select>
          </div>
          <div class="col-auto">
            <label for="comment">Comment:</label>
            <input id="comment" class="form-control mb-2" #comment="ngModel" name="comment" type="text" [(ngModel)]="newRating.comment">
          </div>
        </div>
        <div class="form-row align-items-md-center">
          <div class="col-auto">
            <button class="btn btn-warning mb-2" [disabled]="newRating.rating === undefined"(click)="onSubmitClicked()">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
